In [1]:
# Add libraries
import pandas as pd
import os

In [2]:
# Files to load
school_data_to_load = os.path.join("Resources/schools_complete.csv")
student_data_to_load = os.path.join("Resources/students_complete.csv")

In [3]:
# Read the school and student data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Determine shape of the school dataset
school_data_df.shape

(15, 5)

In [7]:
# Determine shape of the student dataset
student_data_df.shape

(39170, 7)

In [8]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [9]:
# Determine if there are any missing values in the school data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

#### Data Cleaning

In [10]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [11]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [12]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [13]:
# Determine data types for the student DataFrame.

student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [14]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In the first glance we see that the student_data_df has some anomalies in the student_name column - prefixes and suffixes.

In [15]:
# Put the student names in a list.
student_names = student_data_df["student_name"].tolist()

In [16]:
# Split the student name and determine the length of the split name.
cnt = 0
for name in student_names:
    print(name.split(), len(name.split()))
    cnt = cnt+1
    if cnt>10:
        break
# Remove cnt if you want to see the entire list

['Paul', 'Bradley'] 2
['Victor', 'Smith'] 2
['Kevin', 'Rodriguez'] 2
['Dr.', 'Richard', 'Scott'] 3
['Bonnie', 'Ray'] 2
['Bryan', 'Miranda'] 2
['Sheena', 'Carter'] 2
['Nicole', 'Baker'] 2
['Michael', 'Roth'] 2
['Matthew', 'Greene'] 2
['Andrew', 'Alexander'] 2

We see that there are several prefixes like Dr., Miss and suffixes like MD, DDS etc to some of the names. We need to isolate them to remove them from the student_name list.

In [17]:
# Create a new list and use it for the for loop to iterate through the list.
students_to_fix = []
# Use an if statement to check the length of the name.
# If the name is greater than or equal to "3", add the name to the list.
for name in student_names:
    if len(name.split())>=3:
        students_to_fix.append(name)
        
# Get the length of the students whose names are greater than or equal to "3".
print(len(students_to_fix))

1531

In [18]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes=[]
for name in students_to_fix:
    if len(name.split()[0])<=4:
        prefixes.append(name.split()[0])
 #prints unique items in the list
print(set(prefixes))

{'Dana', 'Dale', 'Anne', 'Eric', 'Troy', 'Jose', 'Noah', 'Adam', 'Erik', 'Amy', 'Dawn', 'Greg', 'Cody', 'Kara', 'Miss', 'Jodi', 'Ian', 'Mark', 'Kyle', 'Emma', 'Joe', 'Omar', 'Dr.', 'Gina', 'Ryan', 'Lisa', 'Cory', 'Erin', 'Jill', 'Todd', 'Gail', 'Mr.', 'Carl', 'Lori', 'Jon', 'Luke', 'Judy', 'Tina', 'Anna', 'Kim', 'Paul', 'Tara', 'Chad', 'Sean', 'Kari', 'John', 'Mike', 'Seth', 'Ruth', 'Ms.', 'Leah', 'Mrs.', 'Gary', 'Toni', 'Lynn', 'Marc', 'Sara', 'Mary', 'Tony'}

In [19]:
# Add the suffixes less than or equal to 3 to a new list.
suffixes=[]
for name in students_to_fix:
    if len(name.split()[-1])<=3:
        suffixes.append(name.split()[-1])
 #prints unique items in the list
print(set(suffixes))

{'DDS', 'IV', 'Kim', 'Lee', 'Jr.', 'Roy', 'III', 'Li', 'II', 'V', 'Day', 'PhD', 'MD', 'DVM', 'Cox'}

We can now create a list of all the prefixes and suffixes: "Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD" to remove from the student_name list in student_data_df. We will not replace Jr., II, III, IV, and V as they are family titles.

In [20]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [21]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, " ")

<ipython-input-21-d789d877ae6c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, " ")

In [22]:
student_data_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [23]:
# Put the cleaned students' names in another list.
student_names = student_data_df['student_name'].tolist()
student_names[0:20]
# Remove [0:20] to see the entire list

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 ' Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 ' Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons']

Check to see how many names have a split() length of 3 or more.

In [24]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.
for name in student_names:
    if len(name.split())>=3:
        students_fixed.append(name)

In [25]:
# Get the length of the students' names that are greater than or equal to 3.
print(len(students_fixed))

151

### Cleaned DataSet

In [26]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = 'school_name')

In [27]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# Generating District Summary Statistics

### Analysis

In [28]:
# Get the total number of students.
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [29]:
# Calculate the total number of schools.
school_count = len(school_data_complete_df['school_name'].unique())
school_count

15

In [30]:
# Calculate the total budget.
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [31]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [32]:
# Calculate the average math score.
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [33]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df['math_score']>=70]
passing_math_count = passing_math['student_name'].count()
passing_math_count

29370

To get the overall passing percentage, we need to get all the students who passed both math and reading and divide by the total number of students.

In [34]:
# Get all the students who are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df['reading_score']>=70]
passing_reading_count = passing_reading['student_name'].count()
passing_reading_count

33610

In [35]:
# Calculate the percent that passed math.
pass_math_percentage = passing_math_count/float(student_count)*100
pass_math_percentage

74.9808526933878

In [36]:
# Calculate the percent that passed reading.
pass_reading_percentage = passing_reading_count/float(student_count)*100
pass_reading_percentage

85.80546336482001

In [37]:
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score']>=70) & (school_data_complete_df['reading_score']>=70)]

In [38]:
passing_math_reading_count = passing_math_reading.student_name.count()
passing_math_reading_count

25528

In [39]:
overall_passing_percentage = passing_math_reading_count/float(student_count)*100
overall_passing_percentage

65.17232575950983

###### Adding analysis - summary statistics for the following into a new dataframe

Total number of schools in the column "Total Schools"\
Total number of students in the column "Total Students"\
Total budget in the column "Total Budget" \
Average reading score in the column "Average Reading Score" \
Average math score in the column "Average Math Score" \
Percentage of students passing reading in the column "% Passing Reading" \
Percentage of students passing math in the column "% Passing Math" \
Overall passing percentage in the column "% Overall Passing"

In [40]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame([{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": pass_math_percentage,
         "% Passing Reading": pass_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

### Formatting DataFrame
To clean up the district_summary_df DataFrame, we will format dollar amounts to two decimal places, and format the grade averages to one decimal place and percentages to the nearest whole number percent.

In [41]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [42]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df['Total Budget']

0    $24,649,428.00
Name: Total Budget, dtype: object

In [43]:
#The "Average Reading Score" column will be formatted to one decimal place.
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)
district_summary_df['Average Reading Score']

0    81.9
Name: Average Reading Score, dtype: object

The "Average Math Score" column will be formatted to one decimal place.
The "% Passing Reading" column will be formatted to the nearest whole number percentage.
The "% Passing Math" column will be formatted to the nearest whole number percentage
The "% Overall Passing" column will be formatted to the nearest whole number percentage.

In [44]:
#The "Average Math Score" column will be formatted to one decimal place.
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)
district_summary_df['Average Math Score']

0    79.0
Name: Average Math Score, dtype: object

In [45]:
district_summary_df["% Passing Reading"] = pd.to_numeric(district_summary_df["% Passing Reading"])

# The "% Passing Reading" column will be formatted to the nearest whole number percentage. 
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)
district_summary_df['% Passing Reading']

0    86%
Name: % Passing Reading, dtype: object

In [46]:
district_summary_df["% Passing Math"] = pd.to_numeric(district_summary_df["% Passing Math"])

# The "% Passing Math" column will be formatted to the nearest whole number percentage
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.0f}%".format)
district_summary_df['% Passing Math']

0    75%
Name: % Passing Math, dtype: object

In [47]:
district_summary_df['% Overall Passing'] = pd.to_numeric(district_summary_df['% Overall Passing'])

# The "% Overall Passing" column will be formatted to the nearest whole number percentage.
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.0f}%".format)
district_summary_df['% Overall Passing']

0    65%
Name: % Overall Passing, dtype: object

In [48]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

# Generating School Summary Statistics

In [49]:
# Determine the school type.
per_school_types = school_data_df.set_index(['school_name'])['type']


# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

### Calculate the following for each school

Total Student Count\
Total School Budget\
Per Capita Spending\
Average Math Scores\
Average Reading Scores\
Overall Passing Percentage

In [50]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(['school_name'])['size']

# Calculate the total school budget.
per_school_budget = school_data_df.set_index(['school_name'])['budget']
per_school_budget

# Calculate the per capita spending.
per_school_capita = per_school_budget/per_school_counts
per_school_capita

# Calculate the average math scores.
per_school_math = school_data_complete_df.groupby(['school_name']).mean()['math_score']
per_school_math

# Calculate the average reading scores.
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']

 Calculate Average Math Scores and Average Reading Scores

In [51]:
# Calculate the passing scores 
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']

per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']

Calculate Overall percentages\
To get the overall passing percentage, we need to get all the students who passed both math and reading and then divide by the total number of students.

In [80]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score']>=70) & (school_data_complete_df['reading_score']>=70)]

# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading/per_school_counts*100
per_overall_passing_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

### Per School Summary Statistics Table

In [98]:
# Adding a list of values with keys to create a new DataFrame.
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

### Formatting DataFrame
To clean up the per_school_summary_df DataFrame, we will format dollar amounts to two decimal places, and format the grade averages to one decimal place and percentages to the nearest whole number percent.

In [99]:
per_school_summary_df['Total School Budget'] = pd.to_numeric(per_school_summary_df['Total School Budget'])
per_school_summary_df['Per Student Budget'] = pd.to_numeric(per_school_summary_df['Per Student Budget'])

In [100]:
# Format the Total Students column.
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)

# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Format the Average Math Score and Average Reading Score columns.
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.0f}".format)

per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.0f}".format)

# Format the % Passing Math, Reading and Overall  columns.
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.0f}%".format)

per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.0f}%".format)

per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.0f}%".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77,81,67%,82%,55%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83,84,94%,97%,91%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77,81,66%,81%,53%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77,81,68%,79%,54%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83,84,93%,97%,91%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77,81,67%,81%,54%
Holden High School,Charter,427,"$248,087.00",$581.00,84,84,93%,96%,89%
Huang High School,District,"2,917","$1,910,635.00",$655.00,77,81,66%,81%,54%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77,81,66%,81%,54%
Pena High School,Charter,962,"$585,858.00",$609.00,84,84,95%,96%,91%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77,81,66%,80%,53%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83,84,94%,96%,90%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83,84,93%,97%,91%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83,84,94%,97%,91%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,84,84,93%,97%,90%